<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADD FOOD</title>
  </head>
  <body>
    <form action="/add/food" method="post">
      <p class="label-q">Name :</p>
      <input name="Name" class="input-f" id="input-name" type="text" />
      <p class="warn">Name must not be empty</p>

      <p class="label-q">Taste :</p>
      <select name="Taste" id="input-Taste">
        <option value="1">Spicy</option>
        <option value="2">Sweet</option>
        <option value="3">Sour</option>
        <option value="4">bitter</option>
      </select>

      <p class="label-q">Type :</p>

      <input type="radio" name="Type" value="breakfast" />
      <label for="breakfast">breakfast</label>

      <input type="radio" name="Type" value="beverages" />
      <label for="beverages">beverages</label>

      <input type="radio" name="Type" value="drinks" />
      <label for="drinks">drinks</label>

      <input type="radio" name="Type" value="south-indian" />
      <label for="south-indian">south-indian</label>

      <input type="radio" name="Type" value="chinnese" />
      <label for="chinnese">chinnese</label>

      <input type="radio" name="Type" value="maincourse" />
      <label for="maincourse">maincourse</label>

      <p class="label-q">Ratings :</p>
      <input
        name="Ratings"
        class="input-f"
        id="input-ratings"
        type="range"
        min="0"
        max="10"
      />

      <p class="label-q">Comments :</p>
      <input name="Comments" class="input-f" id="input-comments" type="text" />

      <p class="label-q">Prep time :</p>
      <input
        name="preptime_hours"
        class="input-f"
        id="input-preptime-hours"
        type="number"
      />
      <label for="preptime_hours">HRS</label>
      <input
        name="preptime_minutes"
        class="input-f"
        id="input-preptime-minutes"
        type="number"
      />
      <label for="preptime_minutes">MIN</label>

      <p class="label-q">Difficulty :</p>
      <input
        name="Difficulty"
        class="input-f"
        id="input-difficulty"
        type="RANGE"
        min="0"
        max="3"
      />

      <!-- <p class="label-q">Process :</p>
      <input name="Name" class="input-f" id="input-name" type="text" /> -->

      <p class="label-q">Links :</p>
      <button type="button" id="addlink">LINK</button>
      <div class="link-container">
        <div class="linkele">
          <input
            name="Linkname"
            class="input-f-linkname"
            id="input-linkname"
            type="text"
          />
          <input
            name="Linkval"
            class="input-f-linkval"
            id="input-linkval"
            type="url"
          />
        </div>
      </div>

      <button type="submit">Submit</button>
    </form>

    <form action="/FoodApp" method="get">
      <button id="Backbutton">BACK</button>
    </form>

    <script src="/javascript/addFood.js"></script>
    <script src="/javascript/replies_backcode.js">
      check(backcode);
    </script>
  </body>
</html>
