:root{
    /* colors  */
    --white-purple : #dbbeec;
    --dark-navy-blue : #3a58b9;
    --bright-pink : #df3e89;
    --standered-red : #ff0000;
    --grey-1 : #a1a1a1;
    --grey-2 : #3f5263;
    --grey-2-lite : #2a3946ee;

    /* fonts  */
    --code-spaced-font : 'Roboto Mono', monospace;
    --special-bordered-font : 'Rubik Iso', cursive;
    --standered-thin-curvature-font : 'Montserrat', sans-serif;
    --standered-thin-spaced-font: 'Roboto', sans-serif;
    --thin-spaced-bold-font: 'Oswald', sans-serif;
    --modern-bold-font :'Kanit', sans-serif;
    --special-thin-curves-font : 'Josefin Sans', sans-serif;
    --extra-thin-condensed-font : 'Teko', sans-serif;
    --bold-robotic-font : 'Bebas Neue', sans-serif;
    --dancing-cursive-font : 'Dancing Script', cursive;
    --pacific-cursive-font : 'Pacifico', cursive;
    --standered-cursive-font : 'Lobster', cursive;

    /* font size  */
    --largest-headings : 6.6rem;
    --medium-headings : 4.6rem;
    --normal-headings : 2.7rem;
    --small-headings : 1.8rem;
    --large-directions : 1.7rem;
    --normal-inputs : 1rem;

    /* boldness */
    --very-bold : 200px;
    --bold : 50px;
}

*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 98vh;
    width: 98vw;
    max-height: fit-content;
    background: linear-gradient(126deg,var(--white-purple) 10%,var(--dark-navy-blue) 90%,var(--bright-pink) 70%);
    overflow-x: hidden;
}

.mega-container{
    min-width: 93vw;
    min-height: 94vh;
    max-height: 100vh;
    max-width: 97vw;
    margin: 1rem;
    border-radius: 15px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr  1fr;
    grid-gap: 1rem;
}

.grid-ele{
    background-color: #dfc5e26c;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 15px;
    position: relative;
}

.a-addfood{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    align-items: end;
}

.a-name{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.a-image{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
}

.a-time{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.a-options{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 6;
}

.a-process{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 8;
}

.a-links{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 6;
    grid-column-end: 8;
}

.a-difficulty{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
}

.a-comments{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 6;
    overflow-y: unset;
}

.a-ratings{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
}

.t-heading{
    font-family: var(--bold-robotic-font);
    font-size: var(--largest-headings);
}

.label-q{
    font-size: var(--normal-headings);
    font-family: var(--code-spaced-font);
    pointer-events: none;
}

.label-q-directions{
    font-size: var(--large-directions);
    font-family: var(--dancing-cursive-font);
}

.input-f{
    border: none;
    background: transparent;
    min-width: 92%;
    max-width: 96.8%;
    height: 1.4rem;
    border-bottom: 2px solid salmon;
    outline: none;
    font-size: var(--normal-inputs);
    font-family: var(--code-spaced-font);
}

.label-comments{
    position: absolute;
    left: 2%;
    top: 6%;
}

.input-comments{
    height: 90%;
    border-radius: 15px;
    background-color: #dbc3dd75;
    width: 97%;
    padding: 1%;
    font-size: var(--normal-inputs);
    font-family: var(--modern-bold-font);
}

.label-q-time{
    position: absolute;
    left: 2%;
    top: 6%;
    font-family: var(--bold-robotic-font);
    font: var(--very-bold);
}

.time-containers{
    position: relative;
    margin-top: 7px;
    margin-bottom: 14px;
}

.input-time{
    border-radius: 5px;
    background-color: #dbc3dd75;
    width: 97%;
    padding: 1%;
    font-size: var(--normal-inputs);
    text-align: center;    
    font-family: var(--code-spaced-font);
}

.input-time:focus{
    outline: none;
}

.input-time:focus ~ .label-q-time{
    transform: translateY(-60%);
}

.label-q-ratings{
    font-size: var(--small-headings);
    flex-grow: 1;
}

.range-containers{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding: 2px;
    width: 90%;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
}

.range-vals{
    flex-grow: 0;
    width: fit-content;
    height: fit-content;
    margin: 1px;
    margin-top: 0;
    margin-bottom: 0;
}

.input-range{
    flex-grow: 3;
    -webkit-appearance: none;
    height: 3px;
    width: 98%;
    background-color: var(--grey-1);
    border: none;
    border-radius: 5px;
}

.input-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 4px;
    background-color: var(--grey-2);
}

.ratings-slider-val{
    flex-grow: 3;
    text-align: center;
    font-size: var(--medium-headings);
    font-family: var(--code-spaced-font);
    color: var(--grey-2-lite);
    pointer-events: none;
}

.diff-range-container{
    flex-grow: 1;
}

.label-q-difficulty{
    flex-grow: 1;
    font-size: var(--small-headings);
}

.difficulty-range-value{
    flex-grow: 3;
    text-align: center;
    font-size: var(--medium-headings);
    font-family: var(--code-spaced-font);
    color: var(--grey-2-lite);
    pointer-events: none;
}


#input-image{
    background-color: red;
}

#image-view{
    background-color: #dbc3dd75;
    border-radius: 15px;
    height: 95%;
    width: 98%;
    flex-grow: 4;
}

.image-container-full{
    width: 100%;
    height: 100%;
}

.image-desc-ask{    
    position: absolute;
    left: 26%;
    top: 26%;
    font-family: var(--bold-robotic-font);
    font-size: var(--normal-headings);
}
